<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Universal Convention</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Topcoat CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/css/topcoat-desktop-dark.min.css" integrity="sha512-Cwdrdy7iqIj7n5XjgDqvpCOO4aztpoIISOcabdx5igD8Z51YuOWa8BBbI8+2oOI6Rf77xMZ1vAlXvGn6jc6O5Q==" crossorigin="anonymous" />

    <!--Lodash-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <!-- VueJS-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--Ace JS-->
    <script src="https://rawgit.com/ajaxorg/ace-builds/master/src-min-noconflict/ace.js"></script>

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Stylesheet -->
    <link rel ="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center topcoat-navigation-bar mb-5">
                    <h1>Universal Convention</h1>
                </div>
                <div class="col-12">
                    <div class="row mb-2">
                        <div class="col">
                            <div class="topcoat-button-bar case-convention-buttons" data-toggle="buttons">
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large disabled" :class="{active: inputType === 'snake'}">
                                        <input type="radio" name="input-type" autocomplete="off" disabled>
                                        Snake
                                    </label>
                                </div>
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large disabled" :class="{active: inputType === 'camel'}">
                                        <input type="radio" name="input-type" autocomplete="off" disabled>
                                        Camel
                                    </label>
                                </div>
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large disabled" :class="{active: inputType === 'pascal'}">
                                        <input type="radio" name="input-type" autocomplete="off" disabled>
                                        Pascal
                                    </label>
                                </div>
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large disabled" :class="{active: inputType === 'kebab'}">
                                        <input type="radio" name="input-type" autocomplete="off" disabled>
                                        Kebab
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="topcoat-button-bar float-left case-convention-buttons" data-toggle="buttons">
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large input-buttons" :class="{active: outputType === 'snake'}">
                                        <input type="radio" name="output-type" autocomplete="off" @click="outputType = 'snake'">
                                        Snake
                                    </label>
                                </div>
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large input-buttons" :class="{active: outputType === 'camel'}">
                                        <input type="radio" name="output-type" autocomplete="off" @click="outputType = 'camel'">
                                        Camel
                                    </label>
                                </div>
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large input-buttons" :class="{active: outputType === 'pascal'}">
                                        <input type="radio" name="output-type" autocomplete="off"
                                            @click="outputType = 'pascal'">
                                        Pascal
                                    </label>
                                </div>
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large input-buttons" :class="{active: outputType === 'kebab'}">
                                        <input type="radio" name="output-type" autocomplete="off" @click="outputType = 'kebab'">
                                        Kebab
                                    </label>
                                </div>

                            </div>

                            <div class="topcoat-button-bar float-right case-buttons" data-toggle="buttons">
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large input-buttons" :class="{active: outputCase === 'upper' && canApplyCase, disabled: !canApplyCase}">
                                        <input type="radio" name="output-case" autocomplete="off" @click="outputCase = 'upper'">
                                        Upper
                                    </label>
                                </div>
                                <div class="topcoat-button-bar__item">
                                    <label class="topcoat-button-bar__button--large input-buttons" :class="{active: outputCase === 'lower' && canApplyCase, disabled: !canApplyCase}">
                                        <input type="radio" name="output-case" autocomplete="off" @click="outputCase = 'lower'">
                                        Lower
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="editor-container">
                                    <editor class="topcoat-textarea" editor-id="input-element" :content="input"
                                        v-on:change-content="changeInput"></editor>
                                </div>
                            </div>
                            <div class="col">
                                <textarea
                                    v-model="output"
                                    disabled
                                    class="output-textarea topcoat-text-input--large"
                                    rows=15></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button type="button" class="topcoat-icon-button--large"  @click="swap()">
                                <i class="fas fa-exchange-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-2" v-if="!isValid && input.length > 0">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                Input does not match any known naming convention
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="assets/js/editor.js"></script>
<script src="assets/js/app.js"></script>
</html>
