<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Universal Convention</title>

    <!--Lodash-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <!-- VueJS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <!--Ace JS-->
    <script src="https://rawgit.com/ajaxorg/ace-builds/master/src-min-noconflict/ace.js"></script>

    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Topcoat CSS-->
    <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/css/topcoat-desktop-dark.min.css"
        integrity="sha512-Cwdrdy7iqIj7n5XjgDqvpCOO4aztpoIISOcabdx5igD8Z51YuOWa8BBbI8+2oOI6Rf77xMZ1vAlXvGn6jc6O5Q=="
        crossorigin="anonymous">

    <!--Font Awesome-->
    <link
        rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Roboto Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div id="app" v-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-2">
                <div class="mb-2" v-if="!isValid && input.length > 0">
                    <div class="card text-white bg-danger">
                        <div class="card-body">
                            <p class="card-text">
                                Input does not match any known naming convention
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="mb-2 text-center">
                    <span class="float-left">
                        <label class="topcoat-select-label">
                            <select v-model="outputType" :disabled="!isValid" class="topcoat-button case-select topcoat-select">
                                <option v-for="(name, key) in outputTypes" :value="key" :key="key">
                                    {{ name }}
                                </option>
                            </select>
                        </label>
                    </span>
                    <span class="input-name">
                        {{ inputName }}
                    </span>
                    <span class="float-right">
                        <label class="topcoat-select-label">
                            <select
                                v-model="outputCapitalization" :disabled="!canApplyCapitalization || !isValid"
                                class="topcoat-button topcoat-select">
                                <option v-for="(name, key) in outputCapitalizations" :value="key" :key="key">
                                    {{ name }}
                                </option>
                            </select>
                        </label>
                    </span>
                </div>
                <div class="mb-2">
                    <div class="editor-container">
                        <editor editor-id="input-element" :content="input" v-on:change-content="changeInput"></editor>
                    </div>
                </div>
                <div class="mb-2 text-center">
                    <button type="button" class="topcoat-icon-button--large" @click="swap()" :disabled="!isValid">
                        <i class="fas fa-exchange-alt"></i>
                    </button>
                </div>
                <div class="mb-2">
                    <textarea
                        v-model="output" disabled class="output-textarea topcoat-text-input--large" rows=15>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="assets/js/editor.js?v=1.0.0"></script>
<script src="assets/js/app.js?v=1.0.0"></script>
</html>
