/* Theme Overrides */

.topcoat-button-bar__button--large:hover {
    cursor: pointer;
}

.topcoat-button-bar__button--large.active {
    border: 1px solid #333434;
    background-color: #3f4041;
    box-shadow: inset 0 1px rgba(0, 0, 0, .05);
}

.topcoat-text-input--large {
    width: 100%;
    height: 250px;
    line-height: 1.313rem;
    background-color: #212529;
}

.topcoat-icon-button--large {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.topcoat-button-bar__button--large:hover {
    background-color: #6c757d;
}

.topcoat-text-input--large {
}

.topcoat-text-input--large:focus {
    background-color: #1b1c1d;
}

/* Editor Overrides */
.ace-tomorrow-night {
    background-color: #212529;
}

/* Custom Styles */

body {
    font-family: 'Roboto';
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
    color: #fff;
}

.disabled {
    cursor: not-allowed !important;
    opacity: .5;
}

.disabled:hover {
    background: #595b5b;
}

.disabled.active:hover {
    background: #3f4041;
}

.editor-container {
    height: 250px;
}

#input-element {
    border-radius: 4px;
}

.output-textarea {
    resize: none;
    opacity: 1 !important;
}

[v-cloak] {
    display: none;
}