/* Theme Overrides */

.topcoat-button-bar__button--large:hover {
    cursor: pointer;
}

.topcoat-button-bar__button--large.active {
    border: 1px solid #333434;
    background-color: #3f4041;
    box-shadow: inset 0 1px rgba(0, 0, 0, .05);
}

.topcoat-text-input--large {
    width: 100%;
    height: 250px;
    line-height: 1.313rem;
    background-color: #212529;
}

.topcoat-button-bar__button--large:hover {
    background-color: #6c757d;
}

.topcoat-text-input--large:focus {
    background-color: #1b1c1d;
}

/* Editor Overrides */
.ace-tomorrow-night {
    background-color: #212529;
}

/* Custom Styles */

body {
    font-family: 'Roboto';
    font-size: 14px;
}

.disabled {
    cursor: not-allowed !important;
    opacity: .5;
}

.disabled:hover {
    background: #595b5b;
}

.disabled.active:hover {
    background: #3f4041;
}

.editor-container {
    height: 250px;
}

#input-element {
    border-radius: 4px;
}

.output-textarea {
    resize: none;
    opacity: 1 !important;
}

[v-cloak] {
    display: none;
}

.input-name {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 500;
}

.topcoat-select-label {
    overflow: hidden;
    position: relative;
}

.topcoat-select-label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
    color: #c6c8c8;
    position: absolute;
    right: 3px;
    top: 3px;
    pointer-events: none;
    padding-left: 20px;
}

.topcoat-select {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 13px;
    outline: 0 !important;
    box-shadow: inset 0 1px #737373 !important;
}